body{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal; 
  margin: 0 auto; 
  width:100%;
  background-color: rgb(251 245 238);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  background-color: rgb(95 24 4);
  border-radius: 4rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

h1{
  padding-left:4rem;
  color:white;
  font-size: 3rem;
}

img{
  border-radius: 3rem;
}

h2{
  font-family: "vastago", "arial", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.2rem;
}

h3{
  font-family: "vastago", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.2rem;
}

footer{
  width: 90%;
  background-color:rgb(95 24 4);
  border-radius: 4rem;
  color: white;
  padding:2rem;
  margin-top:2rem;
  margin-bottom:2rem;
}