body{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  max-width: 1280px;
  margin:auto; 
  width:95%;  /*falta mediaqueire*/
  justify-content: center;
}

header{
    background-color: rgb(95 24 4);
    border-radius: 3rem;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
} 

h1{
    padding-left:2rem;
    color:white;
}
