body{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal; 
  margin: 0 auto; 
  width:100%;
  background-color: rgb(251 245 238);
  display: flex;
  flex-direction: column;
  align-items: center;
}

    header{
        background-color: rgb(95 24 4);
        border-radius: 4rem;
        display:flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 2rem;
        margin-bottom: 2rem;
    } 

        h1{
            padding-left:4rem;
            color:white;
            font-size: 2rem;
        }

      img{
        border-radius: 4rem;
        }

      h2{
        font-family: "vastago", "arial", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        line-height: 1.2rem;
        margin-left:2rem;
      }

    footer{
      background-color:rgb(95 24 4);
      border-radius: 4rem;
      color: white;
      padding:2rem;
      margin-top:2rem;
      margin-bottom:2rem;
    }